{% extends 'base.html.twig' %}

{% block body %}


    <p class="bg-primary"><h1>Your Tasks</h1></p>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Task Name</th>

            <th>Priority</th>
            <th>Creation Date</th>
            <th>Due Date</th>
            <th>Type</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr class="active">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.name }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.creationDate|date("Y-m-d H:i:s") }}</td>
            <td>{{ task.dueDate|date("Y-m-d H:i:s") }}</td>
            <td>{{ task.type }}</td>
            <td>
                <a type="button" class="btn btn-success" href="./detail/{{ task.id }}">View</a>
                <a type="button" class="btn btn-primary" href="./update/{{ task.id }}">Edit</a>
                <a type="button" class="btn btn-danger" href="./delete/{{ task.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}